@model PharmacySystem.Models.ExpRepo

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1 class="text-center">Details</h1>

    <h4 class="text-center">ExpRepo</h4>
    <hr />
    <div class="row">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Product)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Product.Name)
            </dd>
        </dl>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
