@model PharmacySystem.Models.Inventory

@{
    ViewData["Title"] = "Inventory Details";
}

<h1 class="text-center">Inventory Details</h1>

<div class="container mt-4">
    <h4 class="text-center">Inventory Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
    </dl>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
