@model PharmacySystem.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1 class="text-center">Customer Details</h1>

    <div>
        <h4 class="text-center">Customer Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DateOfBirth.ToShortDateString()) <!-- Định dạng ngày tháng -->
            </dd>
        </dl>
    </div>

    <div class="text-center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
